<app-nav-auxiliar></app-nav-auxiliar>
<div class="jumbotron">



    <div class="card mb-3">
        <h3 class="card-header">Información de usuario</h3>
        <div class="card-body">

        </div>

        <table >
            <tbody>

                <tr>
                    <td>

                        <div>
                            <img style="height: 50%; width: 50%; display: block;"
                                src="https://cdn.icon-icons.com/icons2/67/PNG/512/user_13230.png" alt="Card image">

                        </div>
                    </td>
                    <td>
                        <div class="card-body">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <h3>Nombre:</h3>
                                        </td>
                                        <td>
                                            <h3 ALIGN="right">{{nombre}}</h3>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h3>Carnet:</h3>
                                        </td>
                                        <td>
                                            <h3 ALIGN="right">{{carnet}}</h3>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h3>Correo electrónico:</h3>
                                        </td>
                                        <td>
                                            <h3 ALIGN="right"> {{correo}}</h3>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h3>Contraseña:</h3>
                                        </td>
                                        <td>
                                            <h3 ALIGN="right">{{contrasena}}</h3>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h3>Tipo de cuenta: </h3>
                                        </td>
                                        <td>
                                            <h3 ALIGN="right">Cuenta de auxiliar</h3>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </td>
                </tr>

            </tbody>

        </table>




    </div>





</div>
